

.button {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #000000;
}

.menu{
	-fx-min-width: 100px;
	-fx-min-height: 30px;
	-fx-border-insets: 2px;
	-fx-border-color: #800080;
	-fx-border-width: 1px;
}

.menu .label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #800080;
  -fx-border-width: 0px;
}

.vbox {
	-fx-padding: 50px;
	-fx-spacing: 50px;
}
.hbox {
	-fx-padding: 50px;
	-fx-spacing: 50px;
}
.button {
	-fx-min-width: 150px;
	-fx-min-height: 30px;
}
	.text-field {
  -fx-alignment: center-right;
   -fx-min-width: 150;
    -fx-min-height: 35;
  -fx-font-style: italic;
  -fx-text-fill: black;
	-fx-border-insets: 2px;
	-fx-border-color: grey;
	-fx-border-width: 1px;
}
	
	
.combo-box{
	-fx-min-width: 170px;
	-fx-min-height: 30px;
	 -fx-font-size: 16px;
  //-fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: black;
	
}
.label{
	-fx-min-width: 150px;
	-fx-min-height: 35px;
	 -fx-font-size: 16px;
  //-fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: black;
	-fx-border-insets: 2px;
	-fx-border-color: grey;
	-fx-border-width: 1px;
}
#statusLbl{
-fx-min-width: 150px;
	-fx-min-height: 35px;
	 -fx-font-size: 16px;
  //-fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-text-fill: #FF0000;
	-fx-border-insets: 2px;
	-fx-border-color: grey;
	-fx-border-width: 1px;
}

#countryPane {
	-fx-min-width: 300px;
	-fx-min-height: 155px;
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: light grey;
}
#statePane {
	-fx-min-width: 300px;
	-fx-min-height: 155px;
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: light grey;
}

#countryControlsBox {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: #800080;
}
#stateControlsBox {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-color: #800080;
}
#table{
	-fx-min-width: 985px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

#table .column-header .label {
    -fx-font-size: 13pt;
    -fx-font-style: italic;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}
#table .table-column{ 	
	-fx-pref-width: 15em; 
	
	
	
}